#!KAMAILIO
#!define WITH_AUTH
#!define API_SECRET "define-secret-value"
#!define DBURL "mysql://defineuser:define-password@127.0.0.1/kamailio"
#!define SQLCON "ca=>mysql://sqluser:sql-password@db.internal/kamailio"
listen=udp:0.0.0.0:5060
listen=tls:0.0.0.0:5061
loadmodule "sl.so"
loadmodule "tm.so"
loadmodule "dispatcher.so"
loadmodule "auth_db.so"
modparam("dispatcher", "db_url", "mysql://kamailio:supersecret@127.0.0.1/kamailio")
modparam("dispatcher", "table_name", "dispatcher")
include_file "routing.cfg"
request_route {
    route[DISPATCH];
}
route[DISPATCH] {
    ds_select_dst(1, 4);
}
